.square {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  background-color: aqua;
}

/* @media(width<500px){
    .square{
      background-color: blueviolet;
    }
} */

/* @media (max-width: 500px) {
  .square {
    background-color: blueviolet;
  }
} */

@media (width<600px) and (width >500px) {
  .square {
    background-color: black;
  }
}
